.OrderList {
  
}

.Product {
  border-radius: 4px;
  background: rgba(245, 245, 240, 0.466);
  font-size: 0.8rem;
  padding: 20px;
  margin-bottom: 20px;

}

.Product-Name {

}

.check-button {
  margin: 10px;
}

.Available-Green {
  background: green;
  color: white;
  margin: 10px;
  border-radius: 5px;
}

.Available-Red {
  background: red;
  color: white;
  margin: 10px;
  border-radius: 5px;
}

.disable-button  {
  background: rgb(73, 73, 73);
  color: black;
  margin: 10px;
}