.Order-Item-Parent {
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  opacity: 1;
  transition: outline 0.15s, opacity 0.5s;
}

.Order-Item-Parent:hover {
  outline: blue solid 3px;
  background-color: tomato;
}

.Order-Item-Parent:nth-child(odd) {
  background-color: #e4806f;
}

.Order-Item-Parent:nth-child(even) {
  background-color: #eb6b55;
}

.Order-Item-Parent button {
  margin-left: auto;
  margin-right: 20px;
  height: auto;
  border-radius: 3px;
  border: none;
  box-shadow: 2px 1px 3px 0px #000000a6;
  padding: 5px;
  font-size: 0.9rem;
}

.fade {
  opacity: 0;
}